.headerContainer {
  padding: 20px;
  background-color: var(--header-bg);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 768px) {
    padding: 40px 80px;
  }
}
.headerContainerNav {
  display: flex;
  justify-content: space-between;
}
.link {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  line-height: 1.25;
  color: var(--header-title);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    line-height: 1.18;
  }
}
.link:not(:last-child) {
  margin-right: 20px;
}

.link:hover,
.link.active {
  color: white;
}
.active {
  color: white;
}
