@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --sidebar-bg: rgba(52, 152, 219, 1.0);
  --header-bg:rgb(17, 131, 207);
  --form-bg:rgba(52, 152, 219, 1.0);
  --basketShop-bg:;
  --shop-item-bg:rgb(129, 182, 218);
  --mainShop-bg:rgba(52, 152, 219, 1.0);
  --accent: rgba(241, 196, 15,1.0);

  --sidebar-link: "#13151a";
  --header-title:"#111111";
  --text-panel:"#111111";
  --hover-btn:#f1c40f;
  --thumba-bg:#f1c40f;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

