@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --sidebar-bg: #dcdde1;
  --header-bg:#ffa502;
  --form-bg:#dcdde1;;
  --basketShop-bg:#dcdde1;;
  --shop-item-bg:#dcdde1;
  --mainShop-bg:#dcdde1;;
  --accent: rgba(241, 196, 15,1.0);

  --sidebar-link: "#13151a";
  --header-title:"#111111";
  --text-panel:"#111111";
  --hover-btn:#f6d44b;;
  --thumba-bg:#f1c40f;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

